@import "tailwindcss";
@font-face {
  font-family: "Vazirmatn";
  src:
    url("./assets/fonts/Vazirmatn-Regular.otf") format("opentype"),
    url("./assets/fonts/Vazirmatn-Regular.woff") format("woff"),
    url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2"),
    url("./assets/fonts/Vazirmatn-Regular.ttf") format("truetype"),
    url("./assets/fonts/Vazirmatn-Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mosalas";
  src:
    url("./assets/fonts/a-mosalas.otf") format("opentype"),
    url("./assets/fonts/a-mosalas.woff") format("woff"),
    url("./assets/fonts/a-mosalas.woff2") format("woff2"),
    url("./assets/fonts/A-Mosalas.ttf") format("truetype"),
    url("./assets/fonts/a-mosalas.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rezvan";
  src:
    url("./assets/fonts/rezvan.otf") format("opentype"),
    url("./assets/fonts/rezvan.woff") format("woff"),
    url("./assets/fonts/rezvan.woff2") format("woff2"),
    url("./assets/fonts/Rezvan.ttf") format("truetype"),
    url("./assets/fonts/rezvan.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atila";
  src:
    url("./assets/fonts/atila.otf") format("opentype"),
    url("./assets/fonts/atila.woff") format("woff"),
    url("./assets/fonts/atila.woff2") format("woff2"),
    url("./assets/fonts/Atila.ttf") format("truetype"),
    url("./assets/fonts/atila.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pen";
  src:
    url("./assets/fonts/far_khodkar.otf") format("opentype"),
    url("./assets/fonts/far_khodkar.woff") format("woff"),
    url("./assets/fonts/far_khodkar.woff2") format("woff2"),
    url("./assets/fonts/far_khodkar.ttf") format("truetype"),
    url("./assets/fonts/far_khodkar.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* colors */
@theme {
  --color-purple:#934cce5e;
  --color-dark-purple:#a24dd386;
  --color-brand-navy: #000233;
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .About-bg {
    background-image: url("/src/assets/Images/About-image.jpg");
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.1)";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .About1-bg {
    background-image: url("/src/assets/Images/About-image1.jpg");
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.1)";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@layer utilities {
  .clip-left {
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
  }

  .clip-right {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 60% 100%);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  /* 
     Total Time: 2s (Wave) + 4s (Pause) = 6s 
     You can change 4s to whatever pause length you want!
  */
  animation: wave 4s ease-in-out infinite;
}

.tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}
.fork-btn-inner::after {
  display: none !important;
}
